@page "/"
@using ShoppingList.Data

<PageTitle>ShoppingList</PageTitle>

<h1>Shopping List</h1>

<input placeholder="Grocery Name" @bind="groceryName"/>
<input placeholder="Grocery Price" @bind="groceryPrice"/>
<button @onclick="AddGrocery">Add Grocery</button>

@*example of one way binding using the @ sign*@
<h2>Total Price: $@sum</h2>

<table>
    <tr><th>Name</th><th>Price</th><th></th></tr>
    @foreach(var grocery in groceries)
    {
        <Item GroceryItem="@grocery" OnIncrease="UpdateTotal"/>
    }
</table>

@code {
    private decimal sum;
    private string groceryName = string.Empty;
    private decimal groceryPrice;
    private List<GroceryItem> groceries = new();

    private void AddGrocery()
    {
        if(!string.IsNullOrWhiteSpace(groceryName) 
            && groceryPrice > 0)
        {
            groceries.Add(new GroceryItem
                {
                    Name = groceryName,
                    Price = groceryPrice
                });
            UpdateTotal();
            groceryName = string.Empty;
            groceryPrice = 0;
        }
    }

    public void UpdateTotal()
    {
        sum = groceries.Sum(g => g.Price);
    }
}