@page "/"
@layout ShoppingListLayout
@using ShoppingList.Data

<PageTitle>ShoppingList</PageTitle>

<h1>Shopping List</h1>

<EditForm Model="@groceryItem" OnValidSubmit="AddGrocery">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <p>
        <label>
            Name:
            <InputText @bind-Value="groceryItem.Name"/>
        </label>
    </p>
    <p>
        <label>
            Price:
            <InputNumber @bind-Value="groceryItem.Price" />
        </label>
    </p>
    <button type="submit">Add Grocery</button>
</EditForm>

@*example of one way binding using the @ sign*@
<h2>Total Price: $@sum</h2>

<table>
    <tr><th>Name</th><th>Price</th><th></th></tr>
    @foreach(var grocery in groceries)
    {
        <Item GroceryItem="@grocery" OnIncrease="UpdateTotal"/>
    }
</table>

@code {
    private List<GroceryItem> groceries = new();
    private decimal sum;
    private GroceryItem groceryItem = new();

    private void AddGrocery()
    {
        groceries.Add(groceryItem);
        groceryItem = new();
        UpdateTotal();
    }

    public void UpdateTotal()
    {
        sum = groceries.Sum(g => g.Price);
    }
}